beautifulsoup4==4.5.3
bs4==0.0.1
click==6.7
Flask==0.12.1
Flask-Cors==3.0.2
Flask-Script==2.0.5
Flask-SQLAlchemy==2.2
gevent==1.2.1
greenlet==0.4.11
itsdangerous==0.24
Jinja2==2.9.6
lxml==3.7.2
MarkupSafe==1.0
redis==2.10.5
six==1.10.0
SQLAlchemy==1.1.9
Werkzeug==0.12.1
